.Rhistory
.RData
.Renviron
.Rproj.user/
*.Rproj
*.Rds
*.rds
*.log
Thumbs.db
.DS_Store
*.docx
*.pdf
data/raw/
data/processed/
results/
data/input/*
!data/input/README.md
!data/input/definitive_neuro_terms.csv
private/
drafts/
